/Data/FilteredData/dataset.csv
/Data/EdgeData/1970s/Categorical/actor70s.csv
/Data/EdgeData/1970s/Categorical/actress70s.csv
/Data/EdgeData/1970s/Categorical/archive_footage70s.csv
/Data/EdgeData/1970s/Categorical/archive_sound70s.csv
/Data/EdgeData/1970s/Categorical/cinematographer70s.csv
/Data/EdgeData/1970s/Categorical/composer70s.csv
/Data/EdgeData/1970s/Categorical/director70s.csv
/Data/EdgeData/1970s/Categorical/editor70s.csv
/Data/EdgeData/1970s/Categorical/producer70s.csv
/Data/EdgeData/1970s/Categorical/production_designer70s.csv
/Data/EdgeData/1970s/Categorical/self70s.csv
/Data/EdgeData/1970s/Categorical/writer70s.csv
/Data/EdgeData/1970s/General/70s.csv
/Data/EdgeData/1980s/Categorical/actor80s.csv
/Data/EdgeData/1980s/Categorical/actress80s.csv
/Data/EdgeData/1980s/Categorical/archive_footage80s.csv
/Data/EdgeData/1980s/Categorical/archive_sound80s.csv
/Data/EdgeData/1980s/Categorical/cinematographer80s.csv
/Data/EdgeData/1980s/Categorical/composer80s.csv
/Data/EdgeData/1980s/Categorical/director80s.csv
/Data/EdgeData/1980s/Categorical/editor80s.csv
/Data/EdgeData/1980s/Categorical/producer80s.csv
/Data/EdgeData/1980s/Categorical/production_designer80s.csv
/Data/EdgeData/1980s/Categorical/self80s.csv
/Data/EdgeData/1980s/Categorical/writer80s.csv
/Data/EdgeData/1980s/General/80s.csv
/Data/RawData/basics.tsv
/Data/RawData/basics_name.tsv
/Data/RawData/principals.tsv
/Data/RawData/ratings.tsv
